.icon-text {
  width: 100%;
  gap: 20px;
  font-size: 16px;
  font-weight: 500;
}

.icon {
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2D2EE014;
  border-radius: 8px;
}
